/* Choose your breakpoint to indicate your device
- Phone
- Tablet
- Desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bubble {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'Alice-Regular';
  src: url("/assets/fonts/Alice-Regular.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Poppins-Light';
  src: url("/assets/fonts/Poppins-Light.ttf"); }

@font-face {
  font-family: 'Poppins-Medium';
  src: url("/assets/fonts/Poppins-Medium.ttf"); }

@font-face {
  font-family: 'Poppins-Regular';
  src: url("/assets/fonts/Poppins-Regular.ttf"); }

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("/assets/fonts/Poppins-SemiBold.ttf"); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  outline: none; }

.btn:focus, .btn:active {
  outline: none; }

.btn__subcribe {
  width: 107px;
  height: 43px;
  border-radius: 100px;
  background-color: #ff8fcb;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  float: right;
  margin-top: -49px;
  margin-right: 79px; }

.btn__getstarted {
  width: 145px;
  height: 38px;
  border-radius: 100px;
  background-color: #ff5f8a; }

.btn__send {
  width: 69px;
  height: 28px;
  border-radius: 100px;
  background-color: #ff8fcb;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 0;
  margin-top: -31px;
  margin-right: 11px;
  cursor: pointer; }

.btn__getfooter {
  margin-left: 99px;
  width: 145px;
  height: 38px;
  border-radius: 100px;
  background-color: #ff5f8a;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-top: 22px; }
  @media (max-width: 320px) {
    .btn__getfooter {
      margin-left: 73px;
      width: 145px;
      height: 38px;
      border-radius: 100px;
      background-color: #ff5f8a;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      margin-top: 22px; } }

.navbar {
  height: 111px; }

.fixed-top-main {
  -webkit-box-shadow: 0 11px 27px rgba(0, 0, 0, 0.05);
  box-shadow: 0 11px 27px rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7277f5), to(#7a7ef1));
  background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%); }

.nav-link {
  height: 29px;
  opacity: 0.8;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400; }
  .nav-link__active {
    color: #8ad7fb !important; }

.nav-item {
  padding-right: 50px; }

.navbar-brand {
  width: 94px;
  height: 50px;
  position: absolute;
  margin-left: 150px; }

.nav-brand-img {
  width: 100%; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.home {
  width: 100%;
  height: 922px;
  background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); }
  @media (max-width: 320px) {
    .home {
      display: none; } }
  @media (max-width: 375px) {
    .home {
      display: none; } }
  @media (max-width: 414px) {
    .home {
      display: none; } }
  .home__navigation {
    padding-left: 263px; }
  .home__img {
    padding-top: 70px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    width: 600px; }
    .home__img--img {
      width: 100%; }
    .home__img--fadein {
      opacity: 1;
      transform: translateY(0); }
  .home__content {
    padding-top: 90px; }
    .home__content--title {
      width: 531px;
      height: 124px;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-size: 46px;
      font-weight: 400;
      line-height: 62px; }
    .home__content--desc {
      width: 495px;
      height: 102px;
      opacity: 0.81;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      padding-top: 17px; }
      @media (max-width: 375px) {
        .home__content--desc {
          width: 277px;
          height: 72px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          font-weight: 200;
          line-height: 24px;
          margin: 0 auto; } }
    .home__content--download {
      padding-top: 60px; }
    .home__content--images {
      padding-right: 30px;
      cursor: pointer; }
  .home__oval02 {
    position: fixed;
    bottom: 0; }
    @media (max-width: 375px) {
      .home__oval02 {
        display: none; } }
    .home__oval02--img {
      width: 100%; }
  .home__oval03 {
    width: 175px;
    height: 175px; }
    @media (max-width: 375px) {
      .home__oval03 {
        display: none; } }
    .home__oval03--img {
      width: 100%; }

.opening {
  width: 100%;
  height: 1325px;
  -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 375px) {
    .opening {
      display: none; } }
  @media (max-width: 414px) {
    .opening {
      display: none; } }
  .opening__title {
    width: 531px;
    height: 88px;
    color: #7a7ff1;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    padding-top: 250px; }
  .opening__desc {
    width: 495px;
    height: 52px;
    opacity: 0.81;
    color: #2f3151;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 115px; }
  .opening__feature {
    padding-top: 100px; }
  .opening__card {
    display: flex;
    flex-direction: column; }
    .opening__card--img {
      width: 29px;
      height: 33px; }
    .opening__card--harian {
      height: 44px;
      opacity: 0.75;
      color: #7a7ff1;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 44px; }
    .opening__card--desc {
      width: 248px;
      height: 69px;
      opacity: 0.81;
      color: #2f3151;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
      margin-top: 10px; }
    .opening__card--padding {
      padding-top: 50px; }
  .opening__img {
    width: 483px;
    height: 962px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }
    .opening__img--images {
      padding-top: 112px;
      width: 66%;
      margin-left: 159px !important; }
    .opening__img--img {
      width: 100%;
      border-radius: 50px; }
    .opening__img--fadein {
      opacity: 1;
      transform: translateY(0); }
  .opening__oval01 {
    width: 79px;
    height: 216px;
    margin-top: -210px;
    position: absolute;
    right: 0; }
    .opening__oval01--img {
      width: 100%; }
  .opening__oval02 {
    width: 66px;
    height: 216px;
    padding-top: 316px;
    position: absolute; }
    .opening__oval02--img {
      width: 100%; }

.mission {
  width: 100%;
  height: 627px;
  background-color: #f7f8fe; }
  @media (max-width: 375px) {
    .mission {
      display: none; } }
  @media (max-width: 414px) {
    .mission {
      display: none; } }
  .mission__img {
    width: 361px;
    height: 760px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }
    .mission__img--fadein {
      opacity: 1;
      transform: translateY(0); }
    .mission__img--img {
      width: 100%;
      border-radius: 50px;
      margin-top: -178px; }
  .mission__ontrack {
    display: flex;
    padding-top: 86px;
    margin-left: -80px; }
    .mission__ontrack--item01 {
      background-color: red;
      height: 100px;
      width: 10px; }
    .mission__ontrack--item02 {
      color: #7a7ff1; }
    .mission__ontrack--title {
      padding-left: 29px;
      height: 44px;
      opacity: 0.75;
      color: #7a7ff1;
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px; }
    .mission__ontrack--img {
      width: 100%; }
    .mission__ontrack--images {
      width: 190px;
      height: 190px; }
    .mission__ontrack--li {
      width: 419px;
      opacity: 0.81;
      color: #2f3151;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px; }
    .mission__ontrack--ul {
      padding-left: 50px;
      padding-top: 10px; }
  .mission__card {
    background-color: transparent;
    border: none; }
  .mission__oval01 {
    width: 255px;
    height: 485px;
    margin-top: -240px;
    position: absolute; }
    .mission__oval01--img {
      width: 100%; }

.evaluasi {
  width: 100%;
  height: 887px; }
  @media (max-width: 375px) {
    .evaluasi {
      display: none; } }
  @media (max-width: 414px) {
    .evaluasi {
      display: none; } }
  .evaluasi__ontrack {
    display: flex;
    padding-top: 174px; }
    .evaluasi__ontrack--title {
      width: 334px;
      height: 44px;
      opacity: 0.75;
      color: #7a7ff1;
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      padding-left: 31px; }
    .evaluasi__ontrack--images {
      width: 190px;
      height: 190px; }
    .evaluasi__ontrack--img {
      width: 75%; }
    .evaluasi__ontrack--li {
      width: 419px;
      opacity: 0.81;
      color: #2f3151;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px; }
    .evaluasi__ontrack--ul {
      padding-left: 49px;
      padding-top: 50px; }
  .evaluasi__card {
    background-color: transparent;
    border: none;
    display: flex; }
  .evaluasi__img {
    width: 361px;
    height: 760px;
    position: absolute;
    right: 0;
    margin-top: -68px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }
    .evaluasi__img--img {
      width: 100%;
      border-radius: 50px; }
    .evaluasi__img--fadein {
      opacity: 1;
      transform: translateY(0); }
  .evaluasi__oval01 {
    width: 255px;
    height: 485px;
    margin-top: -240px;
    position: absolute;
    right: 0; }
    .evaluasi__oval01--img {
      width: 100%; }

.finding {
  width: 100%;
  height: 627px;
  background-color: #f7f8fe; }
  @media (max-width: 375px) {
    .finding {
      display: none; } }
  @media (max-width: 414px) {
    .finding {
      display: none; } }
  .finding__img {
    width: 361px;
    height: 760px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }
    .finding__img--img {
      width: 100%;
      border-radius: 50px;
      margin-top: -178px; }
    .finding__img--fadein {
      opacity: 1;
      transform: translateY(0); }
  .finding__ontrack {
    display: flex;
    padding-top: 86px;
    margin-left: -80px; }
    .finding__ontrack--item01 {
      background-color: red;
      height: 100px;
      width: 10px; }
    .finding__ontrack--item02 {
      color: #7a7ff1; }
    .finding__ontrack--title {
      padding-left: 29px;
      height: 44px;
      opacity: 0.75;
      color: #7a7ff1;
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px; }
    .finding__ontrack--images {
      width: 190px;
      height: 190px; }
    .finding__ontrack--img {
      width: 100%; }
    .finding__ontrack--li {
      width: 419px;
      opacity: 0.81;
      color: #2f3151;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px; }
    .finding__ontrack--ul {
      padding-left: 50px;
      padding-top: 50px; }
  .finding__card {
    background-color: transparent;
    border: none; }
  .finding__oval01 {
    width: 255px;
    height: 485px;
    margin-top: -240px;
    position: absolute; }
    .finding__oval01--img {
      width: 100%; }

.calender {
  width: 100%;
  height: 572px; }
  @media (max-width: 375px) {
    .calender {
      display: none; } }
  @media (max-width: 414px) {
    .calender {
      display: none; } }
  .calender__ontrack {
    display: flex;
    padding-top: 174px; }
    .calender__ontrack--title {
      width: 334px;
      height: 44px;
      opacity: 0.75;
      color: #7a7ff1;
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      padding-left: 31px; }
    .calender__ontrack--img {
      width: 75%; }
    .calender__ontrack--images {
      width: 190px;
      height: 190px; }
    .calender__ontrack--li {
      width: 419px;
      opacity: 0.81;
      color: #2f3151;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px; }
    .calender__ontrack--ul {
      padding-left: 49px;
      padding-top: 50px; }
  .calender__card {
    background-color: transparent;
    border: none;
    display: flex; }
  .calender__img {
    width: 361px;
    height: 760px;
    position: absolute;
    right: 0;
    margin-top: -68px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    z-index: 1; }
    .calender__img--img {
      width: 100%;
      border-radius: 50px; }
    .calender__img--fadein {
      opacity: 1;
      transform: translateY(0); }
  .calender__oval01 {
    width: 255px;
    height: 485px;
    margin-top: -240px;
    right: 0;
    position: absolute;
    z-index: 1; }
    .calender__oval01--img {
      width: 100%; }

.testimonial {
  width: 100%;
  height: 754px;
  background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
  -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 375px) {
    .testimonial {
      display: none; } }
  @media (max-width: 414px) {
    .testimonial {
      display: none; } }
  .testimonial__title {
    width: 100%;
    padding-top: 182px;
    padding-bottom: 68px; }
    .testimonial__title--title {
      font-family: 'Poppins', sans-serif;
      height: 44px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 300;
      line-height: 44px;
      margin: 0 auto;
      text-align: center; }
    .testimonial__title--desc {
      height: 26px;
      opacity: 0.81;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px;
      text-align: center; }
  .testimonial__slider {
    width: 483px !important;
    height: 220px;
    border-radius: 11px;
    background-color: #ffff; }
  .testimonial__content--title {
    height: 78px;
    color: #555771;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 29px 41px 0 41px; }
  .testimonial__content--figure {
    display: flex;
    padding-top: 42px; }
  .testimonial__content--dai {
    width: 50px !important;
    height: 50px;
    margin-left: 41px;
    border-radius: 100px; }
  .testimonial__content--desc {
    padding-left: 20px; }
  .testimonial__content--nama {
    height: 29px;
    color: #555771;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600; }
  .testimonial__content--posisi {
    height: 25px;
    color: #555771;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; }

/* Footer Core */
.footer {
  width: 100%;
  height: 275px;
  background-color: #7174e2;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -1px; }
  @media (max-width: 320px) {
    .footer {
      display: none; } }
  @media (max-width: 375px) {
    .footer {
      display: none; } }
  @media (max-width: 414px) {
    .footer {
      display: none; } }
  .footer__img {
    width: 94px;
    height: 50px; }
    .footer__img--footer {
      width: 100%; }
  .footer__main {
    height: 65px;
    width: 100%;
    margin-top: 80px; }
  .footer__ul {
    display: flex;
    margin-top: 33px;
    text-decoration: none; }
    .footer__ul--active {
      color: #8ad7fb !important; }
    .footer__ul--li {
      height: 38px;
      font-family: 'Poppins', sans-serif;
      color: #ffffff !important;
      font-size: 18px;
      font-weight: 300;
      padding-left: 51px; }
    .footer__ul--btn {
      width: 145px;
      height: 38px;
      border-radius: 100px;
      background-color: #ff5f8a; }
  .footer__oval01 {
    width: 78px;
    height: 78px;
    margin-top: -28px; }
    .footer__oval01--img {
      width: 100%; }
  .footer__oval02 {
    width: 49px;
    height: 156px;
    right: 0;
    position: absolute;
    margin-top: -67px; }
    .footer__oval02--img {
      width: 100%; }
    .footer__oval02::before {
      padding-top: 44px;
      position: absolute;
      content: url(/assets/img/dekstop/icon/icon_oval1.png);
      margin-left: -100px; }

.subcribe {
  background-color: red;
  width: 798px;
  height: 162px;
  border-radius: 11px;
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: -82px; }
  .subcribe__form {
    width: 798px;
    height: 162px; }
    .subcribe__form::before {
      padding-top: 44px;
      position: absolute;
      content: url(/assets/img/dekstop/icon/icon_oval2.png);
      margin-left: -100px; }
  .subcribe__title {
    height: 44px;
    color: #4a4a4a;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 44px;
    padding-left: 88px; }
  .subcribe__input {
    width: 655px;
    height: 54px;
    border-radius: 100px;
    background-color: #eef1f6;
    margin: 0 auto;
    border: none;
    padding-left: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; }
    .subcribe__input:active, .subcribe__input:focus {
      outline: none;
      border: none; }
    .subcribe__input::placeholder {
      height: 38px;
      color: #9da7b9;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 44px; }

.owl-nav {
  margin-left: 47%;
  margin-top: 40px; }

.owl-next {
  color: #777cf1 !important;
  outline: none; }
  .owl-next:after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.43);
    content: '';
    position: absolute;
    border-radius: 11px; }

.owl-prev {
  color: #777cf1 !important;
  outline: none; }
  .owl-prev:after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.43);
    position: absolute;
    border-radius: 11px;
    margin-left: -10px; }

#particles-jss {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#evaluasimobile {
  position: absolute;
  width: 100%;
  background: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  position: absolute;
  margin-left: 31px; }

@media (max-width: 375px) {
  .navbar-toggler {
    display: none; } }

@media (max-width: 414px) {
  .navbar-toggler {
    display: none; } }

@media (max-width: 320px) {
  .navbar-brand {
    width: 94px !important;
    height: 50px !important;
    position: absolute !important;
    margin-left: 100px !important;
    margin-top: -21px !important; } }

@media (max-width: 375px) {
  .navbar-brand {
    width: 94px;
    height: 50px;
    position: absolute;
    margin-left: 120px;
    margin-top: -20px !important; } }

@media (max-width: 375px) {
  .navbar-brand {
    width: 94px;
    height: 50px;
    position: absolute;
    margin-left: 120px;
    margin-top: -20px !important; } }

@media (max-width: 375px) {
  .home__navigation {
    padding-left: 46px;
    padding-top: 147px; } }

.homemobile {
  display: none; }
  @media (max-width: 320px) {
    .homemobile {
      display: block !important;
      width: 100% !important;
      height: 652px !important;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%); }
      .homemobile__main {
        padding-top: 60px; }
      .homemobile__title {
        text-align: center;
        height: 72px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 21px !important;
        font-weight: 200;
        line-height: 36px; }
      .homemobile__desc {
        width: 277px;
        margin: 0 auto;
        padding-top: 8px;
        height: 72px;
        opacity: 0.81;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .homemobile__download {
        width: 100%;
        padding-top: 29px;
        cursor: pointer; }
        .homemobile__download--google {
          width: 168px;
          margin-left: 20% !important;
          cursor: pointer; }
        .homemobile__download--apple {
          width: 130px;
          margin: 0 auto;
          margin-left: 30%;
          margin-top: 12px; }
      .homemobile__opening {
        position: relative;
        z-index: 1;
        padding-top: 15px;
        height: 421px;
        width: 250px !important;
        margin: 0 auto; }
        .homemobile__opening::before {
          content: url(/assets/img/mobile/icon_ovalmobile02.png);
          position: absolute;
          display: block;
          padding-top: 230px;
          margin-left: -13px; }
        .homemobile__opening::after {
          content: url(/assets/img/mobile/icon_ovalmobile03.png);
          position: absolute;
          padding-top: 133px;
          margin-left: -21px; }
        .homemobile__opening--img {
          padding-top: 27px !important; }
      .homemobile__oval01 {
        margin-top: -318px !important;
        position: absolute;
        width: 136px !important; }
        .homemobile__oval01--img {
          width: 100%;
          z-index: 1; }
      .homemobile__oval02 {
        right: 0;
        position: absolute;
        margin-top: -229px !important; }
        .homemobile__oval02--img {
          width: 100%;
          z-index: 1; } }
  @media (max-width: 375px) {
    .homemobile {
      display: block;
      width: 100%;
      height: 770px;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%); }
      .homemobile__main {
        padding-top: 94px !important; }
      .homemobile__title {
        text-align: center;
        height: 72px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 36px; }
      .homemobile__desc {
        width: 277px;
        margin: 0 auto;
        padding-top: 8px;
        height: 72px;
        opacity: 0.81;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .homemobile__download {
        width: 100%;
        padding-top: 29px;
        cursor: pointer; }
        .homemobile__download--google {
          width: 168px;
          margin-left: 24%;
          cursor: pointer; }
        .homemobile__download--apple {
          width: 130px;
          margin: 0 auto;
          margin-left: 30%;
          margin-top: 12px; }
      .homemobile__opening {
        position: relative;
        z-index: 1;
        padding-top: 15px;
        height: 427px;
        width: 296px;
        margin: 0 auto; }
        .homemobile__opening::before {
          content: url(/assets/img/mobile/icon_ovalmobile02.png);
          position: absolute;
          display: block;
          padding-top: 230px;
          margin-left: -13px; }
        .homemobile__opening::after {
          content: url(/assets/img/mobile/icon_ovalmobile03.png);
          position: absolute !important;
          margin-left: -32px !important;
          right: 0;
          margin-right: -6px; }
        .homemobile__opening--img {
          width: 100%;
          padding-top: 44px;
          padding-left: 10px;
          padding-right: 13px; }
      .homemobile__oval01 {
        position: absolute !important;
        width: 136px !important;
        margin-top: -234px; }
        .homemobile__oval01--img {
          width: 100%;
          z-index: 1; }
      .homemobile__oval02 {
        right: 0;
        position: absolute !important;
        width: 136px !important;
        margin-top: -145px; }
        .homemobile__oval02--img {
          width: 100%;
          z-index: 1; } }
  @media (max-width: 414px) {
    .homemobile {
      display: block;
      width: 100%;
      height: 787px;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%); }
      .homemobile__main {
        padding-top: 111px; }
      .homemobile__title {
        text-align: center;
        height: 72px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 36px; }
      .homemobile__desc {
        width: 277px;
        margin: 0 auto;
        padding-top: 8px;
        height: 72px;
        opacity: 0.81;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .homemobile__download {
        width: 100%;
        padding-top: 29px;
        cursor: pointer; }
        .homemobile__download--google {
          width: 168px;
          margin-left: 28%;
          cursor: pointer; }
        .homemobile__download--apple {
          width: 130px;
          margin: 0 auto;
          margin-left: 30%;
          margin-top: 12px; }
      .homemobile__opening {
        position: relative;
        z-index: 1;
        padding-top: 15px;
        height: 427px;
        width: 350px;
        margin: 0 auto; }
        .homemobile__opening::before {
          content: url(/assets/img/mobile/icon_ovalmobile02.png);
          position: absolute;
          display: block;
          padding-top: 230px;
          margin-left: -13px; }
        .homemobile__opening::after {
          content: url(/assets/img/mobile/icon_ovalmobile03.png);
          position: absolute !important;
          right: 0;
          margin-right: -6px;
          display: block;
          top: 0;
          padding-top: 189px; }
        .homemobile__opening--img {
          width: 100%; }
      .homemobile__oval01 {
        position: absolute !important;
        width: 136px !important;
        margin-top: -201px; }
        .homemobile__oval01--img {
          width: 100%;
          z-index: 1; }
      .homemobile__oval02 {
        right: 0;
        position: absolute;
        width: 136px;
        margin-top: -111px; }
        .homemobile__oval02--img {
          width: 100%;
          z-index: 1; } }

.openingmobile {
  display: none; }
  @media (max-width: 320px) {
    .openingmobile {
      display: block;
      width: 100%;
      height: 635px;
      background-color: #ffff; }
      .openingmobile__main {
        padding-top: 20px; }
      .openingmobile__title {
        text-align: center;
        height: 44px;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 44px; }
      .openingmobile__desc {
        width: 250px !important;
        margin: 0 auto;
        height: 48px;
        opacity: 0.81;
        color: #2f3151;
        font-family: 'Poppins', sans-serif;
        font-size: 11px !important;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .openingmobile__alquran {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .openingmobile__alquran--img {
          width: 100%; }
      .openingmobile__opening {
        margin-top: 85px; }
      .openingmobile__target {
        height: 44px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        text-align: center; }
        .openingmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .openingmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }
  @media (max-width: 375px) {
    .openingmobile {
      display: block;
      width: 100%;
      height: 635px;
      background-color: #ffff; }
      .openingmobile__main {
        padding-top: 20px; }
      .openingmobile__title {
        text-align: center;
        height: 44px;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 44px; }
      .openingmobile__desc {
        width: 314px;
        margin: 0 auto;
        height: 48px;
        opacity: 0.81;
        color: #2f3151;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .openingmobile__alquran {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .openingmobile__alquran--img {
          width: 100%; }
      .openingmobile__opening {
        margin-top: 85px; }
      .openingmobile__target {
        height: 44px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        text-align: center; }
        .openingmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .openingmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }
  @media (max-width: 414px) {
    .openingmobile {
      display: block;
      width: 100%;
      height: 635px;
      background-color: #ffff; }
      .openingmobile__main {
        padding-top: 20px; }
      .openingmobile__title {
        text-align: center;
        height: 44px;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 44px; }
      .openingmobile__desc {
        width: 314px;
        margin: 0 auto;
        height: 48px;
        opacity: 0.81;
        color: #2f3151;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      .openingmobile__alquran {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .openingmobile__alquran--img {
          width: 100%; }
      .openingmobile__opening {
        margin-top: 85px; }
      .openingmobile__target {
        height: 44px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        text-align: center; }
        .openingmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .openingmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }

.evaluasimobile {
  display: none; }
  @media (max-width: 375px) {
    .evaluasimobile {
      display: block;
      width: 100%;
      height: 500px; }
      .evaluasimobile__main {
        padding-top: 0px; }
      .evaluasimobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .evaluasimobile__amalan--img {
          width: 100%; }
      .evaluasimobile__opening {
        margin-top: 85px; }
      .evaluasimobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .evaluasimobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .evaluasimobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }
  @media (max-width: 414px) {
    .evaluasimobile {
      display: block;
      width: 100%;
      height: 500px; }
      .evaluasimobile__main {
        padding-top: 0px; }
      .evaluasimobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .evaluasimobile__amalan--img {
          width: 100%; }
      .evaluasimobile__opening {
        margin-top: 85px; }
      .evaluasimobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .evaluasimobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .evaluasimobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }

.masjidmobile {
  display: none; }
  @media (max-width: 375px) {
    .masjidmobile {
      display: block;
      width: 100%;
      height: 500px; }
      .masjidmobile__main {
        padding-top: 0px; }
      .masjidmobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .masjidmobile__amalan--img {
          width: 100%; }
      .masjidmobile__opening {
        margin-top: 85px; }
      .masjidmobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .masjidmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .masjidmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }
  @media (max-width: 414px) {
    .masjidmobile {
      display: block;
      width: 100%;
      height: 500px; }
      .masjidmobile__main {
        padding-top: 0px; }
      .masjidmobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .masjidmobile__amalan--img {
          width: 100%; }
      .masjidmobile__opening {
        margin-top: 85px; }
      .masjidmobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .masjidmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .masjidmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }

.calendarmobile {
  display: none; }
  @media (max-width: 375px) {
    .calendarmobile {
      display: block;
      width: 100%;
      height: 540px; }
      .calendarmobile__main {
        padding-top: 0px; }
      .calendarmobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .calendarmobile__amalan--img {
          width: 100%; }
      .calendarmobile__opening {
        margin-top: 85px; }
      .calendarmobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .calendarmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .calendarmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }
  @media (max-width: 414px) {
    .calendarmobile {
      display: block;
      width: 100%;
      height: 540px; }
      .calendarmobile__main {
        padding-top: 0px; }
      .calendarmobile__amalan {
        width: 151px;
        height: 152px;
        margin: 0 auto;
        padding-top: 58px; }
        .calendarmobile__amalan--img {
          width: 100%; }
      .calendarmobile__opening {
        margin-top: 85px; }
      .calendarmobile__target {
        width: 225px;
        height: 88px;
        opacity: 0.75;
        color: #7a7ff1;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 auto; }
        .calendarmobile__target--ul {
          width: 270px;
          margin: 0 auto;
          padding-left: 38px;
          padding-top: 8px; }
        .calendarmobile__target--li {
          opacity: 0.81;
          color: #2f3151;
          font-family: 'Poppins', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 26px; } }

.slidermobile {
  display: none; }
  @media (max-width: 375px) {
    .slidermobile {
      background-size: contain;
      display: block;
      width: 100%;
      height: 667px;
      background-color: #777cf3;
      background-image: url(/assets/img/mobile/bg_slidermobile.png);
      background-repeat: no-repeat;
      background-position-y: bottom; }
      .slidermobile__title {
        width: 100%;
        padding-top: 65px;
        padding-bottom: 68px; }
        .slidermobile__title--title {
          text-align: center;
          height: 27px;
          color: #ffffff;
          font-family: "Avenir Next";
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center; }
        .slidermobile__title--desc {
          height: 26px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 26px;
          text-align: center; }
      .slidermobile__slider {
        width: 100%; }
      .slidermobile__images {
        width: 283px;
        height: 489px;
        margin: 0 auto;
        display: block;
        margin-top: -30px; }
        .slidermobile__images--img {
          width: 100%; } }
  @media (max-width: 414px) {
    .slidermobile {
      background-size: contain;
      display: block;
      width: 100%;
      height: 667px;
      background-color: #777cf3;
      background-image: url(/assets/img/mobile/bg_slidermobile.png);
      background-repeat: no-repeat;
      background-position-y: bottom; }
      .slidermobile__title {
        width: 100%;
        padding-top: 65px;
        padding-bottom: 68px; }
        .slidermobile__title--title {
          text-align: center;
          height: 27px;
          color: #ffffff;
          font-family: "Avenir Next";
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center; }
        .slidermobile__title--desc {
          height: 26px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 26px;
          text-align: center; }
      .slidermobile__slider {
        width: 100%; }
      .slidermobile__images {
        width: 283px;
        height: 489px;
        margin: 0 auto;
        display: block;
        margin-top: -30px; }
        .slidermobile__images--img {
          width: 100%; } }

.testimonialmobile {
  display: none; }
  @media (max-width: 320px) {
    .testimonialmobile {
      width: 100%;
      height: 554px;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
      display: block; }
      .testimonialmobile__title {
        width: 100%;
        padding-bottom: 68px; }
        .testimonialmobile__title--title {
          font-family: 'Poppins', sans-serif;
          height: 44px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 200;
          line-height: 44px;
          text-align: center;
          padding-top: 30px; }
        .testimonialmobile__title--desc {
          height: 24px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          padding-top: 30px; }
      .testimonialmobile__slider {
        width: 290px !important;
        height: 197px;
        border-radius: 6px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 22px; }
      .testimonialmobile__content--title {
        height: 78px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        padding: 29px 41px 0 41px; }
      .testimonialmobile__content--figure {
        display: flex;
        padding-top: 59px; }
      .testimonialmobile__content--dai {
        width: 33px !important;
        height: 33px;
        margin-left: 41px;
        border-radius: 100px; }
      .testimonialmobile__content--desc {
        padding-left: 20px; }
      .testimonialmobile__content--nama {
        height: 9px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 600; }
      .testimonialmobile__content--posisi {
        height: 25px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 26px; } }
  @media (max-width: 375px) {
    .testimonialmobile {
      width: 100%;
      height: 554px;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
      display: block; }
      .testimonialmobile__title {
        width: 100%;
        padding-bottom: 68px; }
        .testimonialmobile__title--title {
          font-family: 'Poppins', sans-serif;
          height: 44px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 200;
          line-height: 44px;
          text-align: center;
          padding-top: 30px; }
        .testimonialmobile__title--desc {
          height: 24px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          padding-top: 30px; }
      .testimonialmobile__slider {
        width: 325px !important;
        height: 197px;
        border-radius: 6px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 22px; }
      .testimonialmobile__content--title {
        height: 78px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        padding: 29px 41px 0 41px; }
      .testimonialmobile__content--figure {
        display: flex;
        padding-top: 59px; }
      .testimonialmobile__content--dai {
        width: 33px !important;
        height: 33px;
        margin-left: 41px;
        border-radius: 100px; }
      .testimonialmobile__content--desc {
        padding-left: 20px; }
      .testimonialmobile__content--nama {
        height: 9px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 600; }
      .testimonialmobile__content--posisi {
        height: 25px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 26px; } }
  @media (max-width: 414px) {
    .testimonialmobile {
      width: 100%;
      height: 554px;
      background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
      display: block; }
      .testimonialmobile__title {
        width: 100%;
        padding-bottom: 68px; }
        .testimonialmobile__title--title {
          font-family: 'Poppins', sans-serif;
          height: 44px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 200;
          line-height: 44px;
          text-align: center;
          padding-top: 30px; }
        .testimonialmobile__title--desc {
          height: 24px;
          opacity: 0.81;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          padding-top: 30px; }
      .testimonialmobile__slider {
        width: 325px !important;
        height: 197px;
        border-radius: 6px;
        background-color: #ffffff;
        margin: 0 auto; }
      .testimonialmobile__content--title {
        height: 78px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        padding: 29px 41px 0 41px; }
      .testimonialmobile__content--figure {
        display: flex;
        padding-top: 59px; }
      .testimonialmobile__content--dai {
        width: 33px !important;
        height: 33px;
        margin-left: 41px; }
      .testimonialmobile__content--desc {
        padding-left: 20px; }
      .testimonialmobile__content--nama {
        height: 9px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 600; }
      .testimonialmobile__content--posisi {
        height: 25px;
        color: #555771;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 26px; } }

.footermobile {
  display: none; }
  @media (max-width: 320px) {
    .footermobile {
      width: 100%;
      height: 207px;
      background-color: #7174e2;
      display: block; }
      .footermobile__subcribe {
        width: 300px;
        height: 74px;
        border-radius: 4px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        margin-top: -35px;
        margin-left: -4px !important; }
        .footermobile__subcribe--form {
          margin: 0 auto;
          margin-top: 19px;
          width: 286px;
          height: 35px;
          border-radius: 100px;
          background-color: #eef1f6;
          color: #9da7b9;
          font-family: 'Poppins', sans-serif;
          font-size: 11px;
          font-weight: 400;
          line-height: 44px;
          outline: none;
          padding-left: 10px; }
      .footermobile__logo {
        display: flex;
        padding-top: 85px;
        padding-left: 30px !important; }
        .footermobile__logo--asisten {
          width: 181px;
          height: 29px;
          color: #ffffff;
          font-family: Alice;
          font-size: 25px;
          font-weight: 400;
          position: absolute;
          margin-left: 49px;
          font-weight: 400; } }
  @media (max-width: 375px) {
    .footermobile {
      width: 100%;
      height: 207px;
      background-color: #7174e2;
      display: block; }
      .footermobile__main {
        position: relative; }
      .footermobile__subcribe {
        width: 300px;
        height: 74px;
        border-radius: 4px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        margin-top: -35px;
        top: -36px;
        left: 0;
        right: 0;
        margin: auto; }
        .footermobile__subcribe--form {
          margin: 0 auto;
          margin-top: 19px;
          width: 286px;
          height: 35px;
          border-radius: 100px;
          background-color: #eef1f6;
          color: #9da7b9;
          font-family: 'Poppins', sans-serif;
          font-size: 11px;
          font-weight: 400;
          line-height: 44px;
          outline: none;
          padding-left: 10px; }
      .footermobile__logo {
        display: flex;
        padding-top: 85px;
        padding-left: 61px; }
        .footermobile__logo--asisten {
          width: 181px;
          height: 29px;
          color: #ffffff;
          font-family: Alice;
          font-size: 25px;
          font-weight: 400;
          position: absolute;
          margin-left: 49px;
          font-weight: 400; } }
  @media (max-width: 414px) {
    .footermobile {
      width: 100%;
      height: 207px;
      background-color: #7174e2;
      display: block; }
      .footermobile__main {
        position: relative; }
      .footermobile__subcribe {
        width: 300px;
        height: 74px;
        border-radius: 4px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        margin-top: -35px;
        top: -36px;
        left: 0;
        right: 0;
        margin: auto; }
        .footermobile__subcribe--form {
          margin: 0 auto;
          margin-top: 19px;
          width: 286px;
          height: 35px;
          border-radius: 100px;
          background-color: #eef1f6;
          color: #9da7b9;
          font-family: 'Poppins', sans-serif;
          font-size: 11px;
          font-weight: 400;
          line-height: 44px;
          outline: none;
          padding-left: 10px; }
      .footermobile__logo {
        display: flex;
        padding-top: 85px;
        padding-left: 61px; }
        .footermobile__logo--asisten {
          width: 181px;
          height: 29px;
          color: #ffffff;
          font-family: Alice;
          font-size: 25px;
          font-weight: 400;
          position: absolute;
          margin-left: 49px;
          font-weight: 400; } }
