@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// Media Query manager

/* Choose your breakpoint to indicate your device
- Phone
- Tablet
- Desktop
*/
@mixin respond($breakpoint){
    @if $breakpoint == phonev1{
        @media (max-width:320px){@content};
    }
    @if $breakpoint == phonev2{
        @media (max-width:375px){@content};
    }
    @if $breakpoint == phonev3{
        @media (max-width:414px){@content};
    }
    @if $breakpoint == tabv1{
      @media (max-width:768px){@content};
    }
    @if $breakpoint == tabv1{
        @media (max-width:1024px){@content};
      }
  }
  

