.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        // width: 138px;
        // height: 38px;
        display: inline-block;
        transition: all .2s;
        position: relative;
        cursor: pointer;  
        outline: none;
    } 
    &:focus,
    &:active{
        outline: none;
    }   
    &__subcribe{
        width: 107px;
        height: 43px;
        border-radius: 100px;
        background-color: #ff8fcb;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        float: right;
        margin-top: -49px;
        margin-right: 79px;
    }
    &__getstarted{
        width: 145px;
        height: 38px;
        border-radius: 100px;
        background-color: #ff5f8a;
    }
    &__send{
        width: 69px;
        height: 28px;
        border-radius: 100px;
        background-color: #ff8fcb;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 500;
        position: absolute;
        right: 0;
        margin-top: -31px;
        margin-right: 11px;
        cursor: pointer;
    }
    &__getfooter{
        margin-left: 99px;
        width: 145px;
        height: 38px;
        border-radius: 100px;
        background-color: #ff5f8a;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-top: 22px;
        @include respond(phonev1){
            margin-left: 73px;
            width: 145px;
            height: 38px;
            border-radius: 100px;
            background-color: #ff5f8a;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            margin-top: 22px;
        }
    }
    
}
