#particles-jss {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#evaluasimobile{
    position: absolute;
	width: 100%;
	background: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: absolute;
    margin-left: 31px;
}
.navbar-toggler{
    @include respond(phonev2){
        display: none;
    }
    @include respond(phonev3){
        display: none;
    }
}
.navbar-brand {
    @include respond(phonev1){
        width: 94px !important;
        height: 50px !important;
        position: absolute !important;
        margin-left: 100px !important;
        margin-top: -21px !important;
    }
    @include respond(phonev2){
        width: 94px;
        height: 50px;
        position: absolute;
        margin-left: 120px;
        margin-top: -20px !important;
    }
    @include respond(phonev2){
        width: 94px;
        height: 50px;
        position: absolute;
        margin-left: 120px;
        margin-top: -20px !important;
    }
  
   
}
.home__navigation{
    @include respond(phonev2){
        padding-left: 46px;
        padding-top: 147px;
    }
}
.homemobile{
    display: none;
    @include respond(phonev1){
        display: block !important;
        width: 100% !important;
        height: 652px !important;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        &__main{
            padding-top: 60px;
        }
        &__title{
            text-align: center;
            height: 72px;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 21px !important;
            font-weight: 200;
            line-height: 36px;
        }
        &__desc{
            width: 277px;
            margin: 0 auto;
            padding-top: 8px;
            height: 72px;
            opacity: 0.81;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__download{
            width: 100%;
            padding-top: 29px;
            cursor: pointer;
            &--google{
                width: 168px;
                margin-left: 20% !important;
                cursor: pointer;
            }
            &--apple{
                width: 130px;
                margin: 0 auto;
                margin-left: 30%;
                margin-top: 12px;
            }

        }
        &__opening{
            position: relative;
            z-index: 1;
            padding-top: 15px;
            height: 421px;
            width: 250px !important;
            margin: 0 auto;
            &::before{
                content: url(/assets/img/mobile/icon_ovalmobile02.png);
                position: absolute;
                display: block;
                padding-top: 230px;
                margin-left: -13px;

            }
            &::after{
                content: url(/assets/img/mobile/icon_ovalmobile03.png);
                position: absolute;
                padding-top: 133px;
                margin-left: -21px;               
            }
            &--img{
                padding-top: 27px !important;
            }
        }
        &__oval01{
            margin-top: -318px !important;
            position: absolute;
            width: 136px !important;
            &--img{
                width: 100%; 
                z-index: 1;
            }
        }
        &__oval02{
            right: 0;
            position: absolute;   
            margin-top: -229px !important;
            &--img{
               width: 100%; 
               z-index: 1;
            }
        }
    }
    @include respond(phonev2){
        display: block;
        width: 100%;
        height: 770px;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        &__main{
            padding-top: 94px !important;
        }
        &__title{
            text-align: center;
            height: 72px;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 200;
            line-height: 36px;
        }
        &__desc{
            width: 277px;
            margin: 0 auto;
            padding-top: 8px;
            height: 72px;
            opacity: 0.81;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__download{
            width: 100%;
            padding-top: 29px;
            cursor: pointer;
            &--google{
                width: 168px;
                margin-left: 24%;
                cursor: pointer;
            }
            &--apple{
                width: 130px;
                margin: 0 auto;
                margin-left: 30%;
                margin-top: 12px;
            }

        }
        &__opening{
            position: relative;
            z-index: 1;
            padding-top: 15px;
            height: 427px;
            width: 296px;
            margin: 0 auto;
            &::before{
                content: url(/assets/img/mobile/icon_ovalmobile02.png);
                position: absolute;
                display: block;
                padding-top: 230px;
                margin-left: -13px;

            }
            &::after{
                content: url(/assets/img/mobile/icon_ovalmobile03.png);
                position: absolute !important;
                margin-left: -32px !important;
                right: 0;
                margin-right: -6px;              
            }
            &--img{
                width: 100%;
                padding-top: 44px;
                padding-left: 10px;
                padding-right: 13px;
            }
        }
        &__oval01{
            position: absolute !important;
            width: 136px !important;
            margin-top: -234px;        
            &--img{
                width: 100%; 
                z-index: 1;
            }
        }
        &__oval02{
            right: 0;
            position: absolute !important;
            width: 136px !important;
            margin-top: -145px;
            &--img{
               width: 100%; 
               z-index: 1;
            }
        }
    }
    @include respond(phonev3){
        display: block;
        width: 100%;
        height: 787px;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        &__main{
            padding-top: 111px;
        }
        &__title{
            text-align: center;
            height: 72px;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 200;
            line-height: 36px;
        }
        &__desc{
            width: 277px;
            margin: 0 auto;
            padding-top: 8px;
            height: 72px;
            opacity: 0.81;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__download{
            width: 100%;
            padding-top: 29px;
            cursor: pointer;
            &--google{
                width: 168px;
                margin-left: 28%;
                cursor: pointer;
            }
            &--apple{
                width: 130px;
                margin: 0 auto;
                margin-left: 30%;
                margin-top: 12px;
            }

        }
        &__opening{
            position: relative;
            z-index: 1;
            padding-top: 15px;
            height: 427px;
            width: 350px;
            margin: 0 auto;
            &::before{
                content: url(/assets/img/mobile/icon_ovalmobile02.png);
                position: absolute;
                display: block;
                padding-top: 230px;
                margin-left: -13px;

            }
            &::after{
                content: url(/assets/img/mobile/icon_ovalmobile03.png);
                position: absolute !important;
                right: 0;
                margin-right: -6px;
                display: block;
                top: 0;
                padding-top: 189px;             
            }
            &--img{
                width: 100%;
            }
        }
        &__oval01{
            position: absolute !important;
            width: 136px !important;
            margin-top: -201px;  
            &--img{
                width: 100%; 
                z-index: 1;
            }
        }
        &__oval02{
            right: 0;
            position: absolute;
            width: 136px;
            margin-top: -111px;
            &--img{
               width: 100%; 
               z-index: 1;
            }
        }
    }
    
}
.openingmobile{
    display: none;
    @include respond(phonev1){
        display: block;
        width: 100%;
        height: 635px;
        background-color: #ffff;
        &__main{
            padding-top: 20px;
        }
        &__title{
            text-align: center;
            height: 44px;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 200;
            line-height: 44px;
        }
        &__desc{
            width: 250px !important;
            margin: 0 auto;
            height: 48px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 11px !important;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__alquran{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            text-align: center;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }

    }
    @include respond(phonev2){
        display: block;
        width: 100%;
        height: 635px;
        background-color: #ffff;
        &__main{
            padding-top: 20px;
        }
        &__title{
            text-align: center;
            height: 44px;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 200;
            line-height: 44px;
        }
        &__desc{
            width: 314px;
            margin: 0 auto;
            height: 48px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__alquran{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            text-align: center;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }

    }
    @include respond(phonev3){
        display: block;
        width: 100%;
        height: 635px;
        background-color: #ffff;
        &__main{
            padding-top: 20px;
        }
        &__title{
            text-align: center;
            height: 44px;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 200;
            line-height: 44px;
        }
        &__desc{
            width: 314px;
            margin: 0 auto;
            height: 48px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__alquran{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            text-align: center;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }

    }

}
.evaluasimobile{
    display: none;
    @include respond(phonev2){
        display: block;
        width: 100%;
        height: 500px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    @include respond(phonev3){
        display: block;
        width: 100%;
        height: 500px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}
.masjidmobile{
    display: none;
    @include respond(phonev2){
        display: block;
        width: 100%;
        height: 500px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    @include respond(phonev3){
        display: block;
        width: 100%;
        height: 500px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}
.calendarmobile{
    display: none;
    @include respond(phonev2){
        display: block;
        width: 100%;
        height: 540px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    @include respond(phonev3){
        display: block;
        width: 100%;
        height: 540px;
        &__main{
            padding-top: 0px;
        }
        &__amalan{
            width: 151px;
            height: 152px;
            margin: 0 auto;
            padding-top: 58px;
            &--img{
                width: 100%;
            }
        }
        &__opening{
            
            margin-top: 85px;
        }
        &__target{
            width: 225px;
            height: 88px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 44px;
            margin: 0 auto;
            &--ul{
                width: 270px;
                margin:0 auto;
                padding-left: 38px;
                padding-top: 8px;
            }
            &--li{
                opacity: 0.81;
                color: #2f3151;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}
.slidermobile{
    display: none;
    @include respond(phonev2){
        background-size: contain;
        display: block;
        width: 100%;
        height: 667px;
        background-color: #777cf3;
        background-image: url(/assets/img/mobile/bg_slidermobile.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
        &__content{

        }
        &__title{
            width: 100%;
            padding-top: 65px;
            padding-bottom: 68px;
            &--title{
    
                text-align: center;
                height: 27px;
                color: #ffffff;
                font-family: "Avenir Next";
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            &--desc{
                height: 26px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                font-weight: 300;
                line-height: 26px;
                text-align: center;
                
            }    
        }
        &__slider{
            width: 100%;
        }
        &__images{
            width: 283px;
            height: 489px;
            margin: 0 auto;
            display: block;
            margin-top: -30px;
            &--img{
                width: 100%;
            }
        }
    } 
    @include respond(phonev3){
        background-size: contain;
        display: block;
        width: 100%;
        height: 667px;
        background-color: #777cf3;
        background-image: url(/assets/img/mobile/bg_slidermobile.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
        &__content{

        }
        &__title{
            width: 100%;
            padding-top: 65px;
            padding-bottom: 68px;
            &--title{
    
                text-align: center;
                height: 27px;
                color: #ffffff;
                font-family: "Avenir Next";
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            &--desc{
                height: 26px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                font-weight: 300;
                line-height: 26px;
                text-align: center;
                
            }    
        }
        &__slider{
            width: 100%;
        }
        &__images{
            width: 283px;
            height: 489px;
            margin: 0 auto;
            display: block;
            margin-top: -30px;
            &--img{
                width: 100%;
            }
        }
    }    
} 
.testimonialmobile{
    display: none;
    @include respond(phonev1){
        width: 100%;
        height: 554px;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        display: block;
        &__title{
            width: 100%;
            padding-bottom: 68px;
            &--title{
                font-family: 'Poppins', sans-serif;
                height: 44px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 200;
                line-height: 44px;
                text-align: center;
                padding-top: 30px;
            }
            &--desc{
                height: 24px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                padding-top: 30px;
                
            }    
        }
        &__slider{
            width: 290px !important;;
            height: 197px;
            border-radius: 6px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 22px;
        }
        &__content{
            &--title{
                height: 78px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
                padding: 29px 41px 0 41px;
            }
            &--figure{
                display: flex;
                padding-top: 59px;            
            }
            &--dai{
                width: 33px !important;
                height: 33px;           
                margin-left: 41px;
                border-radius: 100px;
            }
            &--desc{
                padding-left: 20px;
            }
            &--nama{
                height: 9px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 600;
            }
            &--posisi{
                height: 25px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    } 
    @include respond(phonev2){
        width: 100%;
        height: 554px;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        display: block;
        &__title{
            width: 100%;
            padding-bottom: 68px;
            &--title{
                font-family: 'Poppins', sans-serif;
                height: 44px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 200;
                line-height: 44px;
                text-align: center;
                padding-top: 30px;
            }
            &--desc{
                height: 24px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                padding-top: 30px;
                
            }    
        }
        &__slider{
            width: 325px !important;;
            height: 197px;
            border-radius: 6px;
            background-color: #ffffff;
            margin: 0 auto;
            margin-top: 22px;
        }
        &__content{
            &--title{
                height: 78px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
                padding: 29px 41px 0 41px;
            }
            &--figure{
                display: flex;
                padding-top: 59px;            
            }
            &--dai{
                width: 33px !important;
                height: 33px;           
                margin-left: 41px;
                border-radius: 100px;
            }
            &--desc{
                padding-left: 20px;
            }
            &--nama{
                height: 9px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 600;
            }
            &--posisi{
                height: 25px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    } 
    @include respond(phonev3){
        width: 100%;
        height: 554px;
        background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
        display: block;
        &__title{
            width: 100%;
            padding-bottom: 68px;
            &--title{
                font-family: 'Poppins', sans-serif;
                height: 44px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 200;
                line-height: 44px;
                text-align: center;
                padding-top: 30px;
            }
            &--desc{
                height: 24px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                padding-top: 30px;
                
            }    
        }
        &__slider{
            width: 325px !important;;
            height: 197px;
            border-radius: 6px;
            background-color: #ffffff;
            margin: 0 auto;
        }
        &__content{
            &--title{
                height: 78px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 26px;
                padding: 29px 41px 0 41px;
            }
            &--figure{
                display: flex;
                padding-top: 59px;            
            }
            &--dai{
                width: 33px !important;
                height: 33px;           
                margin-left: 41px;
            }
            &--desc{
                padding-left: 20px;
            }
            &--nama{
                height: 9px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 600;
            }
            &--posisi{
                height: 25px;
                color: #555771;
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }    
} 
.footermobile{
    display: none;
    @include respond(phonev1){
        width: 100%;
        height: 207px;
        background-color: #7174e2;
        display: block;
        &__main{
        
        }
        &__subcribe{
            width: 300px;
            height: 74px;
            border-radius: 4px;
            background-color: #ffffff;
            display: block;
            position: absolute;
            margin-top: -35px;
            margin-left: -4px !important;
            &--form{
                margin: 0 auto;
                margin-top: 19px;
                width: 286px;
                height: 35px;
                border-radius: 100px;
                background-color: #eef1f6;
                color: #9da7b9;
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 44px;
                outline: none;
                padding-left: 10px;
            }
        }
        &__logo{
            display: flex;
            padding-top: 85px;
            padding-left: 30px !important;
            &--img{

            }
            &--asisten{
                width: 181px;
                height: 29px;
                color: #ffffff;
                font-family: Alice;
                font-size: 25px;
                font-weight: 400;
                position: absolute;
                margin-left: 49px;
                font-weight: 400;
            }
        }
    }
    @include respond(phonev2){
        width: 100%;
        height: 207px;
        background-color: #7174e2;
        display: block;
        &__main{
            position: relative;
        }
        &__subcribe{
            width: 300px;
            height: 74px;
            border-radius: 4px;
            background-color: #ffffff;
            display: block;
            position: absolute;
            margin-top: -35px;
            top: -36px;
            left: 0;
            right: 0;
            margin: auto;
            &--form{
                margin: 0 auto;
                margin-top: 19px;
                width: 286px;
                height: 35px;
                border-radius: 100px;
                background-color: #eef1f6;
                color: #9da7b9;
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 44px;
                outline: none;
                padding-left: 10px;
            }
        }
        &__logo{
            display: flex;
            padding-top: 85px;
            padding-left: 61px;
            &--img{

            }
            &--asisten{
                width: 181px;
                height: 29px;
                color: #ffffff;
                font-family: Alice;
                font-size: 25px;
                font-weight: 400;
                position: absolute;
                margin-left: 49px;
                font-weight: 400;
            }
        }
    }
    @include respond(phonev3){
        width: 100%;
        height: 207px;
        background-color: #7174e2;
        display: block;
        &__main{
            position: relative;
        }
        &__subcribe{
            width: 300px;
            height: 74px;
            border-radius: 4px;
            background-color: #ffffff;
            display: block;
            position: absolute;
            margin-top: -35px;
            top: -36px;
            left: 0;
            right: 0;
            margin: auto;
            &--form{
                margin: 0 auto;
                margin-top: 19px;
                width: 286px;
                height: 35px;
                border-radius: 100px;
                background-color: #eef1f6;
                color: #9da7b9;
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 44px;
                outline: none;
                padding-left: 10px;
            }
        }
        &__logo{
            display: flex;
            padding-top: 85px;
            padding-left: 61px;
            &--img{

            }
            &--asisten{
                width: 181px;
                height: 29px;
                color: #ffffff;
                font-family: Alice;
                font-size: 25px;
                font-weight: 400;
                position: absolute;
                margin-left: 49px;
                font-weight: 400;
            }
        }
    }

}