

.navbar{
    height: 111px;
}
.fixed-top-main{
    -webkit-box-shadow: 0 11px 27px rgba(0, 0, 0, .05);
    box-shadow: 0 11px 27px rgba(0, 0, 0, .05);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7277f5), to(#7a7ef1));
    background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
}
.nav-link{
    height: 29px;
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    &__active{
        color: #8ad7fb !important;
    }

}
.nav-item{
    padding-right: 50px;
}

.navbar-brand{
    width: 94px;
    height: 50px;
    position: absolute;
    margin-left: 150px;

}
.nav-brand-img{
    width: 100%;
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
// Home
.home{
    width: 100%;
    height: 922px;
    background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
        @include respond(phonev1){
            display: none;
        }
        @include respond(phonev2){
          display: none;
        }
        @include respond(phonev3){
            display: none;
        }
    &__navigation{
        padding-left: 263px;
    }
    &__img{
        padding-top: 70px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;
        width: 600px;
    
    
        &--img{
            width: 100%;
        }
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
    } 
    &__content{
        padding-top: 90px;
        &--title{
            width: 531px;
            height: 124px;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 46px;
            font-weight: 400;
            line-height: 62px;
        }
        &--desc{
            width: 495px;
            height: 102px;
            opacity: 0.81;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            padding-top: 17px;
            @include respond(phonev2){
                width: 277px;
                height: 72px;
                opacity: 0.81;
                color: #ffffff;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 200;
                line-height: 24px;
                margin: 0 auto;
            }

        }
        &--download{
            padding-top: 60px;
        }
        &--images{
            padding-right: 30px;
            cursor: pointer;
        }
    }
    &__oval02{
        position: fixed;
        bottom: 0;
        @include respond(phonev2){
           display: none;
        }
        &--img{
            width: 100%;
        }
    }
    &__oval03{
        width: 175px;
        height: 175px;
        @include respond(phonev2){
            display: none;
         }
        &--img{
            width: 100%;
        }
    }
}
.opening{
    width: 100%;
    height: 1325px;
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }

    &__title{
        width: 531px;
        height: 88px;
        color: #7a7ff1;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 400;
        line-height: 44px;
        padding-top: 250px;
    }
    &__desc{
        width: 495px;
        height: 52px;
        opacity: 0.81;
        color: #2f3151;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 115px;
    }
    &__feature{
        padding-top: 100px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        &--img{
            width: 29px;
            height: 33px;
        }
        &--harian{
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 44px;
        }
        &--desc{
            width: 248px;
            height: 69px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            margin-top: 10px;
        }
        &--padding{
            padding-top: 50px;
        }
    }
    &__img{
        width: 483px;
        height: 962px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;  
        &--images{
            padding-top: 112px;
            width: 66%;
            margin-left: 159px !important;
        }
        &--img{
            width: 100%;
            border-radius: 50px;
        }
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__oval01{
        width: 79px;
        height: 216px;
        margin-top: -210px;
        position: absolute;
        right: 0;
        &--img{
            width: 100%;
        }
    }
    &__oval02{
        width: 66px;
        height: 216px;
        padding-top: 316px;
        position: absolute;
        &--img{
            width: 100%;
        }
    }
}
// Mission
.mission{
    width: 100%;
    height: 627px;
    background-color: #f7f8fe;
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }
    &__img{
        width: 361px;
        height: 760px;  
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
        &--img{
            width: 100%;
            border-radius: 50px;
            margin-top: -178px;
        
        }
    }
    &__ontrack{
        display: flex;
        padding-top: 86px;
        margin-left: -80px;
    
        &--item01{
           background-color: red;
           height:100px;
           width: 10px;
        }
        &--item02{
            color: #7a7ff1;
        }
        &--title{
            padding-left: 29px;
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
        }
        &--img{
            width: 100%;
            
        }
        &--images{
            width: 190px;
            height: 190px;
        }
        &--li{
            width: 419px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
        }
        &--ul{
            padding-left: 50px;
            padding-top: 10px;
        }
    }
    &__card{
        background-color: transparent;
        border: none;

    }
    &__oval01{
        width: 255px;
        height: 485px;
        margin-top: -240px;
        position: absolute;
        &--img{
            width: 100%;
        }
    }
}
// Evaluasi
.evaluasi{
    width: 100%;
    height: 887px;
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }
    &__ontrack{
        display: flex;
        padding-top: 174px;
        &--title{
            width: 334px;
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            padding-left: 31px;
        }
        &--images{
            width: 190px;
            height: 190px;
        }
        &--img{
            width: 75%;
        }
       

        &--li{
            width: 419px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
        }
        &--ul{
            padding-left: 49px;
            padding-top: 50px;
        }
    }
    &__card{
        background-color: transparent;
        border: none;
        display: flex

    }
    &__img{
        width: 361px;
        height: 760px;    
        position: absolute;
        right: 0;
        margin-top: -68px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;
        &--img{
            width: 100%;
            border-radius: 50px;
        
        }
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__oval01{
        width: 255px;
        height: 485px;
        margin-top: -240px;
        position: absolute;
        right: 0;
        &--img{
            width: 100%;
        }
    }
}
.finding{
    width: 100%;
    height: 627px;
    background-color: #f7f8fe;
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }
    &__img{
        width: 361px;
        height: 760px; 
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;   
        &--img{
            width: 100%;
            border-radius: 50px;
            margin-top: -178px;
        
        }
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__ontrack{
        display: flex;
        padding-top: 86px;
        margin-left: -80px;
    
        &--item01{
           background-color: red;
           height:100px;
           width: 10px;
        }
        &--item02{
            color: #7a7ff1;
        }
        &--title{
            padding-left: 29px;
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
        }
        &--images{
            width: 190px;
            height: 190px;
        }
        &--img{
            width: 100%;
          
        }
        &--li{
            width: 419px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
        }
        &--ul{
            padding-left: 50px;
            padding-top: 50px;
        }
    }
    &__card{
        background-color: transparent;
        border: none;

    }
    &__oval01{
        width: 255px;
        height: 485px;
        margin-top: -240px;
        position: absolute;
        &--img{
            width: 100%;
        }
    }
}
.calender{
    width: 100%;
    height: 572px;
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }
    &__ontrack{
        display: flex;
        padding-top: 174px;
        &--title{
            width: 334px;
            height: 44px;
            opacity: 0.75;
            color: #7a7ff1;
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            padding-left: 31px;
        }
        &--img{
            width: 75%;
        }
        &--images{
            width: 190px;
            height: 190px;  
        }
        &--li{
            width: 419px;
            opacity: 0.81;
            color: #2f3151;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
        }
        &--ul{
            padding-left: 49px;
            padding-top: 50px;
        }
    }
    &__card{
        background-color: transparent;
        border: none;
        display: flex;

    }
    &__img{
        width: 361px;
        height: 760px;    
        position: absolute;
        right: 0;
        margin-top: -68px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;  
        z-index: 1;
        &--img{
            width: 100%;
            border-radius: 50px;
        
        }
        &--fadein{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__oval01{
        width: 255px;
        height: 485px;
        margin-top: -240px;
        right: 0;
        position: absolute;
        z-index: 1;
        &--img{
            width: 100%;
        }
    }
}
// Testimonial
.testimonial{
    width: 100%;
    height: 754px;
    background-image: linear-gradient(180deg, #7277f5 0%, #7a7ef1 100%);
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    @include respond(phonev2){
        display: none
    }
    @include respond(phonev3){
        display: none;
    }
    &__title{
        width: 100%;
        padding-top: 182px;
        padding-bottom: 68px;
        &--title{
             font-family: 'Poppins', sans-serif;
            height: 44px;
            color: #ffffff;
            font-size: 28px;
            font-weight: 300;
            line-height: 44px;
            margin: 0 auto;
            text-align: center;
        }
        &--desc{
            height: 26px;
            opacity: 0.81;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
            
        }    
    }
    &__slider{
        width: 483px !important;
        height: 220px;
        border-radius: 11px;
        background-color: #ffff;
    }
    &__content{
        &--title{
            height: 78px;
            color: #555771;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            padding: 29px 41px 0 41px;
        }
        &--figure{
            display: flex;
            padding-top: 42px;
        }
        &--dai{
            width: 50px !important;
            height: 50px;
            margin-left: 41px;
            border-radius: 100px;
        }
        &--desc{
            padding-left: 20px;
        }
        &--nama{
            height: 29px;
            color: #555771;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
        &--posisi{
            height: 25px;
            color: #555771;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

/* Footer Core */
.footer{
    width: 100%;
    height: 275px;
    background-color: #7174e2;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1px;
    @include respond(phonev1){
        display: none;
    }
    @include respond(phonev2){
      display: none;
    }
    @include respond(phonev3){
        display: none;
    }
    &__img{
        width: 94px;
        height: 50px;
        &--footer{
            width: 100%;
        }
    }
    &__main{
        height: 65px;
        width: 100%;
        margin-top: 80px;
       
    }
    &__ul{
        display: flex;
        margin-top: 33px;
        text-decoration: none; 
        &--active{
            color: #8ad7fb !important;
        }
        &--li{
            height: 38px;
            font-family: 'Poppins', sans-serif;
            color: #ffffff !important;
            font-size: 18px;
            font-weight: 300;
            padding-left: 51px; 
             
        }
        &--btn{
            width: 145px;
            height: 38px;
            border-radius: 100px;
            background-color: #ff5f8a;
        }
        
    }
    &__oval01{
        width: 78px;
        height: 78px;
        margin-top: -28px;
        &--img{
            width: 100%;
        }
    }
    &__oval02{
        width: 49px;
        height: 156px;
        right: 0;
        position: absolute;
        margin-top: -67px;
        &--img{
            width: 100%;
           
        }
        &::before{
            padding-top: 44px;
            position: absolute;
            content: url(/assets/img/dekstop/icon/icon_oval1.png);
            margin-left: -100px;

        }
    }
}
.subcribe{
    background-color: red;
    width: 798px;
    height: 162px;
    border-radius: 11px;
    background-color: #ffffff;
    margin: 0 auto;
    display: block;
    margin-top: -82px;
    &__form{
        width: 798px;
        height: 162px;
        &::before{
            padding-top: 44px;
            position: absolute;
            content: url(/assets/img/dekstop/icon/icon_oval2.png);
            margin-left: -100px;

        }
    }
    &__title{
        height: 44px;
        color: #4a4a4a;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 44px;
        padding-left: 88px;
    }
    &__input{
        width: 655px;
        height: 54px;
        border-radius: 100px;
        background-color: #eef1f6;
        margin: 0 auto;
        border: none;
        padding-left: 34px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        &:active,
        &:focus{
            outline: none;
            border: none;
        }
        &::placeholder{
            height: 38px;
            color: #9da7b9;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 44px;
        }
    }
}

// Custom

.owl-nav{
    margin-left: 47%;
    margin-top: 40px;
}
.owl-next{
    color: #777cf1 !important;
    outline: none;
    &:after{
        content: '';
        width: 11px;
        height: 11px;
        background-color: rgba(255, 255, 255, 0.43);
        content: '';
        position: absolute;
        border-radius: 11px;
    }
}
.owl-prev{
    color: #777cf1 !important;
    outline: none;
    &:after{
        content: '';
        width: 11px;
        height: 11px;
        background-color: rgba(255, 255, 255, 0.43);
        position: absolute;
        border-radius: 11px;
        margin-left: -10px;
    }
}
.disabled{
   
}